<div class="footer fixed">
    <div class="pull-right">
        For Support Email to : <a href="mailto:support@doctorplab.com?Subject=Hello%20DoctorPLab%20Team" target="_top">testing.com</a>
    or call <span class="phone"><i></i>00000000000</span>
    </div>
    <div>
      <strong>Copyright</strong> <a href="<%= root_url %>">Test</a> Company &copy; All Rights Reserved.<%= Date.today.strftime('%Y') %> - <%= (Date.today + 1.year).strftime('%Y') %>
    </div>
</div>
