<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">

    <ul class="nav navbar-top-links navbar-right">


	 <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <i class="fa fa-bell"></i>  <span class="label label-primary"></span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">

          <li>
            <div class="text-center link-block">

            </div>
          </li>
        </ul>
     </li>


      <li>
        <a href="#">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>

    </ul>
  </nav>
</div>